org: diegoalarconm
service: utec-incident-api

provider:
  name: aws
  runtime: nodejs18.x
  region: us-east-1
  memorySize: 1024
  timeout: 20
  iam:
    role: arn:aws:iam::520247722169:role/LabRole
  environment:
    USERS_TABLE: ${sls:stage}-utec-users
    INCIDENTS_TABLE: ${sls:stage}-utec-incidents
    JWT_SECRET: ${env:JWT_SECRET, 'utec-secret-2024'}

functions:
  register:
    handler: src/handlers/auth.register
    events:
      - http:
          path: /auth/register
          method: post
          cors: true
          integration: lambda

  login:
    handler: src/handlers/auth.login
    events:
      - http:
          path: /auth/login
          method: post
          cors: true
          integration: lambda

  createIncident:
    handler: src/handlers/incidents.create
    events:
      - http:
          path: /incidents
          method: post
          cors: true
          integration: lambda

  listIncidents:
    handler: src/handlers/incidents.list
    events:
      - http:
          path: /incidents
          method: get
          cors: true
          integration: lambda

  getIncident:
    handler: src/handlers/incidents.getById
    events:
      - http:
          path: /incidents/{id}
          method: get
          cors: true
          integration: lambda

resources:
  Resources:
    TablaUsuarios:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:provider.environment.USERS_TABLE}
        AttributeDefinitions:
          - AttributeName: email
            AttributeType: S
        KeySchema:
          - AttributeName: email
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST

    TablaIncidentes:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:provider.environment.INCIDENTS_TABLE}
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
          - AttributeName: fecha_creacion
            AttributeType: S
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        GlobalSecondaryIndexes:
          - IndexName: FechaCreacionIndex
            KeySchema:
              - AttributeName: fecha_creacion
                KeyType: HASH
            Projection:
              ProjectionType: ALL
        BillingMode: PAY_PER_REQUEST
